.hsl-slider {
  -webkit-appearance: none;
  height: 0.6em;
  width: 90%;
  cursor: pointer;
  border-radius: 0.2em;
}

.hsl-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: grey;
  cursor: pointer;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.4);
}

.hsl-slider:focus {
  outline: none;
}


.hsl-slider::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.hue-gradient {
  background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 17%, rgb(0, 255, 0) 33%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 67%, rgb(255, 0, 255) 83%, rgb(255, 0, 0) 100%);
}