.title {
  font-family: 'Montserrat Alternates';
  font-size: 10em;
  font-weight: 700;
}

.letter-b {
  color: hsl(175, 65%, 35%);
}

.letter-e {
  color: hsl(150, 74%, 72%);
}

.letter-a {
  color: hsl(50, 91%, 70%);
}

.letter-d {
  color: hsl(11, 100%, 85%);
}

.letter-s {
  color: hsl(16, 95%, 69%);
}

.slider-value {
  font-weight: 900;
  font-size: 2em;
}

.slider {
  -webkit-appearance: none;
  height: 1em;
  width: 90%;
  border-radius: 0.4em;
  margin: 0.5em 0;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.go-button {
  width: 4em;
  height: 4em;
  border-radius: 4em;
  background: #4CAF50;
  font-weight: 900;
  font-size: 2em;
  color: white;
  cursor: pointer;
}