body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .cell {
  background: rgba(256,0,0,0.1);
  border: 1px solid rgba(256,0,0,0.2)
} */

/* svg {
  border: 1px red solid;
} */